/* flip animation inspired by W3Schools
https://www.w3schools.com/howto/howto_css_flip_card.asp
*/

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
:root {
  --c1: #595a49;
  --c2: #EFF1ED;
  --c3: #2F2F2F;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(221,226,217);
  background: linear-gradient(320deg, rgba(221,226,217,1) 20%, rgb(240, 240, 214) 100%);
}

.name {
  color: var(--c3);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  margin-left: 10px;
}

.nav {
  /* background-color: var(--c3); */
  display: flex;
  align-items: center;
  justify-content: right;
  position: sticky;
  min-height: 5vh;
  top: 0;
}
.nav > ul {
  padding-right: 30px;
  list-style-type: none;
  display: flex;
  gap: 70px;
}

.nav > ul > li > a {
  color: var(--c3);
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  transition: color .5s;
}

.nav > ul > li > a:hover {
  color: var(--c1);
}

.about {
  min-height: 95vh;
  scroll-snap-align: center;
  display: flex;
  align-items: center;
  padding: 50px;
}

.portrait {
  border-radius: 50px;
  box-shadow: 10px 10px 8px 8px white inset;
}

.bio {
  margin: 50px;
  max-width: 50vw;
  color: var(--c3);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
}

.title {
  color: var(--c3);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5em;
  padding-bottom: 15px;
}

.resume {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  scroll-snap-align: center;
  margin-bottom: 500px;
}

.resume > div {
  display: flex;
  flex-direction: row;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.experiences {
  margin-left: 20px;
  max-width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.exp > div {
  margin: 10px;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.desc {
  margin-left: 50px;
  color: var(--c1);
  font-size: 1.5em;
}

.edu {
  min-height: 95vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  scroll-snap-align: center;
}

.umkc {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: solid 5px;
  border-radius: 15px;
  margin: 10px;
  perspective: 1000px;
  height: 20vh;
}

.umkc-container { 
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 15px;
}

.umkc:hover .umkc-container {
  transform: rotateX(180deg);
}

.head > h1 {
  font-size: 2em;
  color: var(--c3);
  margin-left: 20px;
}

.head {
  display: flex;
  justify-content: space-between;
}

.head {
  display: flex;
  align-items: center;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 15px;
}

.front {
  text-align: center;
  background-color: rgb(221,226,217);
}

.back {
  background-color: rgb(221,226,217);
  transform: rotateX(180deg);
}

.back > p {
  font-size: 1.5em;
}

.honors {
  margin: 20px;
  font-size: 1.5em;
}

.ttips {
  position: relative;
}

.extr, .skills {
  margin: 20px;
  font-size: 1.5em;
}

.edu-desc {
  margin: 15px;
  font-size: 1.5em;
}

.skillnproj {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  scroll-snap-align: center;
  margin-bottom: 500px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contacts {
  min-height: 95vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  scroll-snap-align: center;
}

.contacts > p {
  font-size: 1.5em;
}

.center {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center > div {
  font-size: 2em;
  color: var(--c3);
}